.account{
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    .btn-holder{
        display: flex;
        justify-content: center;
        // margin-top: 30px;
    }
    .top-bar{
        display: flex;
        height: 40px;
        align-items: center;
        margin-bottom: 30px;
        span{
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
        }
        .active{
            background-color: #cecece;
        }
    }
    .account-settings{
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 70px);
        .password-strength{
            min-height: 30px;
        }
    }
}