body{
    background-color: #eaeaea;
    *{
        box-sizing: border-box;
    }
    .layout{
        .content{
            padding-top: 150px;
        }
    }
}
.form-input{
    height: 40px;
	border: 1px solid #dad9e3;
    border-radius: 10px;
    padding: 0 16px;
    &:focus {
		outline: 0;
	}
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    label{
        margin-bottom: 5px;
    }
}
.form-col{
    display: flex;
    justify-content: space-between;
    .form-group{
        width: 47%;
    }
}
.btn{
    padding: 15px 40px;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
.btn-primary{
    background-color:  #103107;
    &:hover{
        background-color: lighten($color: #103107, $amount: 10);
    }
}
.d-none{
    display: none;
}



@import "./dashboard.scss";
@import "./nav.scss";
@import "./sidebar.scss";
@import "./account.scss"