.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    background: linear-gradient(90deg, hsla(73, 72%, 50%, 1) 0%, hsla(107, 75%, 11%, 1) 100%);
    box-shadow: 0px 3px 10px #00000029;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: #ffffff;
    

    .icons{
        width: 150px;
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        div{
            display: flex;
            align-items: center;
            img{
                height: 20px;
                width: 20px;
                margin-right: 5px;
            }
        }
        
    }

}