.sidebar {
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .side-item {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        margin-bottom: 5px;
        cursor: pointer;

        img {
            margin-right: 10px;
            height: 20px;
            width: 20px;
        }

        p {
            transition: all .2s ease-in-out;
        }

        &:hover {
            p {
                color: #708818;
                margin-left: 5px;

            }
        }
    }

    .active {
        color: #708818;
        margin-left: 5px;
    }
}